{% comment %}
  textmedia component

  Accepts:
  - param1 {number} - Number to ouptput

  Usage:
  {%- render 'textmedia', param1: 0 -%}
{% endcomment %}

{%- liquid
  assign param1 = param1 | default: section.settings.param1 | default: 1
-%}

<h1>textmedia component</h1>
